<!DOCTYPE html>
<html >
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="dragndrop_css.css">
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="dragndrop_js.js"></script>
</head>

<body>
	<!--Draggable DIV:-->
	<!-- <iframe id='iframe' src="file://localhost/Users/sunminson/Desktop/blah.html"></iframe>
	<input id='URL'/> -->
	<div class='fixed_bar'>
		<div class='fixed_bar_header'>Onboarder</div>
	</div>
	<div class='fixed_bar_placeholder'></div>
	<div class='side_bar'>
		<div class='side_bar_switch'>></div>
	</div>
	<div class='section'>
		<div class='section_header'>Properties</div>
	</div>
	<div class='section'>
		<div class='section_header'>Templates & Features</div>
	</div>
	<!-- <div id="mydiv">
		Include a header DIV with the same name as the draggable DIV, followed by "header":
		<div id="mydivheader">Click here to move</div>
		<p>Move</p>
		<p>this</p>
		<p>DIV</p>
	</div> -->




</body>
</html>
